h1 {
    color: #4caf50;
}

h2 {
    color: #333;
}

.exercicio1, .exercicio2, .exercicio3, .exercicio4, .exercicio5, .exercicio6,.exercicio7, .exercicio8, .exercicio9, .exercicio10,.exercicio11,.exercicio12, .exercicio13{
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0px;
}

input, button {
    margin: 5px 0;
    padding: 0px;
}

p {
    font-weight: bold;
}